.leftPart{
    background-color: #f2f2f2;
   
}
.approve{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    gap: 20px;
}
.approve input{
    padding: 5px;
    border:1px solid #F76B56;
    border-radius: 10px;
    color: #F76B56;
}
.chatPage{
    display: flex;
    flex-direction: column;
    border: 2px solid;
    width: 70%;
    margin-left: 15%;
    margin-top: 2%;
    padding: 40px;
    height: 454px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.chatInput{
    border: 1px solid;
    width: 70%;
    height: 7%;
    display: flex;
    position: relative;
    top: 0px;
    padding: 5px;
    margin-left: 15%;
  
}
.chatInput input[type = "text"]{
  width: 700px;
  height: 35px;
}
.chatInput input[type = "submit"]{
    width: 200px;
    height: 35px;
}
#emoji{
    width: 5%;
    margin: 5px;
}
.chatBoxLeft{
    display: flex;
}
.chatBoxLeft .chat{
    float: left;
    background-color: #fef5de;
    margin-bottom: 20px;
    margin-left: -30px;
    padding: 15px;
}
.chatBoxRight .chat{
    float: inline-end;
    background-color: #e4f1ff;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 15px;
}
.chatBoxRight  img{
    position: relative;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 660px;
    top: 48px;
    border-radius: 100%;
}
.chatBoxLeft img{
    position: relative;
    right:30px;
    top: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#form1{
    display: flex;
    width: 100%;
    background-color: #f2f2f2;
    height: 5%;
    margin-top: 0px;
    margin-left: 0px;
}
emoji-picker {
    position: absolute;
    top: -305px;
    left: 360px;
    width: 400px;
    height: 300px;
}

@media (1500px <=width <=2000px){
      
    .chatPage{
        width: 90%;
        margin-left: 5%;
        height: 444px;
    }
    .chatBoxRight img{
       left: 1300px;
    }
    .chatBoxLeft .chat{
        margin-left: 5px;
    }
    .chatBoxLeft img{
        right: 10px;
    }
    .chatBoxRight .chat{
        margin-right: 50px;
    }
    .chatInput{
        width: 90%;
        margin-left: 5%;
    }
    .chatInput input[type = "text"]{
        width: 98%;
    }
    .chatInput input[type = "submit"]{
        left: 1180px;
        width: 19%;
    }
    emoji-picker{
        width: 600px;
        height: 400px;
        top: -405px;
        left: 817px;
    }
}

@media (1297px <= width <= 1366px) {
    .leftPart{
       height: 660px;
    }
}

