<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link rel="stylesheet" href="/css/lefttop/leftside.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="book_sidebar">
    <header>
      <div class="headerMain">
        <div class="logo">
          <img src="/icon/SmartLib.png" alt="Library Logo" />
        </div>

        <div class="navList">
          <nav>
            <ul>
              <li>
                <img src="/icon/home.png" alt="home icon" height="20" /><a href="/bookhome">Home</a>
              </li>
              <li>
                <img src="/icon/search.png" alt="search icon" height="20" /><a href="/booksearch">Search</a>
              </li>
              <li>
                <img src="/icon/shelf.png" alt="shelf icon" height="20" /><a href="/bookmyshelf">My Shelf</a>
              </li>
              <li>
                <img src="/icon/give.png" alt="request icon" height="20" /><a href="/contribute_book">Contribute</a>
              </li>
              <li>
                <img src="/icon/give.png" alt="request icon" height="20" /><a href="/showSensationPage">Events</a>
              </li>
              <li>
                <img src="/icon/give.png" alt="community" height="20" /><a href="/community">Community</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="navFooter">
          <nav>
            <ul>
              <li><a href="/about">About</a></li>
              <li><a href="/support">Contact Us</a></li>
              <li><a href="/ticket">Raised Issue</a></li>
              <li><a href="/form">Membership Form</a></li>
              <li><a href="terms_condition">Terms & Condition</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
  </div>
</body>

</html>