#table2 {
  display: none;
}

.footerMain {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin: auto;
  font-size: 20px;
}

.btn {
  font-size: 20px;
  background-color: #A5DD9B;
  border-radius: 100%;
  padding: 8px 8px;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.2);
  background-color: #C5EBAA;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  display: none;
}

.page{
  display: flex;
  justify-content:space-between;
  width: 20%;
  margin: auto;
  font-size: 20px;
}
.footerMain>a{
  text-decoration: none;
}
p{
  margin-top: -5px;
}

#calFilter {
  display: flex;
  justify-content: space-around;
  margin: 0px 40px;
}

#table1 {
  margin-top: 50px;
}

.table {
  text-align: center;
}

#loading{
  text-align: center;
}
#loader{
  width:350px;
  height:350px;
  margin:0px auto;
}