<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css//bookpages/support.css" />
    <link rel="icon" type="image/x-icon" href="assests/SMARTLIB.png">
  </head>
  <body>
    <% var dir=process.cwd() %> <%- include(dir + "/views/lefttop/leftside.ejs"
    ) %> <%- include(dir + "/views/lefttop/header.ejs" ) %>
    <div class="mainarea">
      <div class="container">
        <p class="head">GET IN TOUCH</p>
        <div class="rowsupport">
          <div class="colsupport">
            <div class="undercol">
              <div class="icon">
                <img src="/icon/location-dot-solid.svg" alt="" />
              </div>
              <div class="content">
                <p class="heading"> OFFICE ADDRESS</p>
                <p>
                  1001 - 1009 10th floor City Center 2, Near Heer Party Plot,
                  Sukan Mall Cross Road, Science City Rd, Sola, Ahmedabad,
                  Gujarat 380060
                </p>
                <!-- <p class="heading">ADDRESS</p>
                <p>
                  Nexus Point Real Estate, SHOP NO-01, Science City Rd, Sola,
                  Ahmedabad, Gujarat 380060
                </p> -->
              </div>
            </div>
          </div>
          <div class="colsupport">
            <div class="undercol">
              <div class="icon">
                <img src="/icon/phone-solid.svg" alt="" />
              </div>
              <div class="content">
                <p class="heading">PHONE (MAIN OFFICE)</p>
                <p>09874569825</p>
                <p class="heading">Contact (OFFICE)</p>
                <p>07584631287</p>
                <p class="heading">Contact (STAFF)</p>
                <p>In Emergency only - 08284631287</p>
              </div>
            </div>
          </div>
          <div class="colsupport">
            <div class="undercol">
              <div class="icon">
                <img src="/icon/envelope-solid.svg" alt="" />
              </div>
              <div class="content">
                <p class="heading">EMAIL (MAIN OFFICE)</p>
                <p>booklibraryoffice01@gmail.com</p>
                <p class="heading">EMAIL (For Book Detail)</p>
                <p>bookinfomain01@gmail.com</p>
                <p class="heading">EMAIL (For Book issue)</p>
                <p>bookissuemain01@gmail.com</p>
              </div>
            </div>
          </div>
          <!-- col end -->
        </div>
      </div>
    </div>
  </body>
 
</html>
