<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css//bookpages/terms_condition.css" />
    <link rel="icon" type="image/x-icon" href="assests/SMARTLIB.png">
  </head>
  <body>
    <% var dir=process.cwd() %> <%- include(dir + "/views/lefttop/leftside.ejs"
    ) %> <%- include(dir + "/views/lefttop/header.ejs" ) %>
    <div class="mainarea">
      <div class="container">
        <div class="heading">
          <p>Rules & Regulation</p>
        </div>
        <ul>
          <li>Everyone is required to maintain silence in library.</li>
          <li>
            Students can directly search for the books and their availability
            using the website.
          </li>
          <li>
            A book will be issued against a student only after production of
            their authorized library cards.
          </li>
          <li>
            Students are requested to check their loans on the website from time
            to time.
          </li>
          <li>
            A student can keep a book for a maximum of 7 days after which the
            book has to be returned.
          </li>
          <li>
            Violation of rules and any act of misbehaviour to the library staff
            will lead to string disciplinary action.
          </li>
        </ul>
      </div>
    </div>
  </body>
 
</html>